<mat-nav-list class="nav-list">
  <button mat-button class="principal-button" [matMenuTriggerFor]="colecciones">
    Colecciones
    <mat-icon> expand_more </mat-icon>
  </button>
  <mat-menu #colecciones="matMenu">
    <button mat-menu-item routerLink="/">Colecciones 1</button>
    <button mat-menu-item routerLink="/dashboard/lista-rentas">
      Colecciones 2
    </button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="hombre">
    Hombre <mat-icon> expand_more </mat-icon>
  </button>
  <mat-menu #hombre="matMenu">
    <button mat-menu-item routerLink="/">Hombre 1</button>
    <button mat-menu-item routerLink="/">Hombre 2</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="mujer">
    Mujer <mat-icon> expand_more </mat-icon>
  </button>
  <mat-menu #mujer="matMenu">
    <button mat-menu-item routerLink="/">Mujer 1</button>
    <button mat-menu-item routerLink="/">Mujer 2</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="gafas">
    Gafas a 199.900 <mat-icon> expand_more </mat-icon>
  </button>
  <mat-menu #gafas="matMenu">
    <button mat-menu-item routerLink="/">gafas 1</button>
    <button mat-menu-item routerLink="/">Gafas 2</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="oferta">
    Super Oferta <mat-icon> expand_more </mat-icon>
  </button>
  <mat-menu #oferta="matMenu">
    <button mat-menu-item routerLink="/">Oferta 1</button>
    <button mat-menu-item routerLink="/">Oferta 2</button>
  </mat-menu>
</mat-nav-list>
