<div class="home-container" >
  <div class="slick-container">
    <div class="slick-wrapper">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideBannerConfig"
      >
        <div ngxSlickItem *ngFor="let slide of slidesBanner" class="slide">
          <img src="{{ slide.img }}" alt="" width="100%" />
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <section class="second-banners">
    <div class="container-second-banner">
      <img src="../../../../assets/secondbanner1.jpg" alt="" />
    </div>
    <div class="container-second-banner">
      <img src="../../../../assets/secondbanner2.jpg" alt="" />
    </div>
  </section>

  <section class="product-slides">
    <div class="slick-container">
      <div class="title-container">
        <h3>¡GAFAS DE SOL!</h3>
      </div>
      <div class="slick-wrapper">
        <ngx-slick-carousel
          class="carousel"
          #slickModal="slick-carousel"
          [config]="slideProductsConfig"
        >
          <div
            ngxSlickItem
            *ngFor="let slide of slidesProduct"
            class="slideProduct"
          >
            <app-card-product [product]="slide"></app-card-product>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
    <div class="container-button">
      <button mat-raised-button class="ver-todo">VER TODO</button>
    </div>
  </section>
  <a
    href="https://api.whatsapp.com/send?phone=573043695986"
    target="_blank"
    class="whatsapp-icon"
  >
    <img
      class="wa-chat-btn-icon-image-only"
      alt="Whatsapp Chat Button"
      src="https://cdn.shopify.com/s/files/1/0070/3666/5911/files/ic-2.svg?v=1584017541/"
    />
  </a>

  <div *ngIf="mostrarPopUp" class="popup">
    <img src="../../../../assets/popup.jpg" alt="popup" class="popup-image" />
    <button class="close-button" (click)="cerrarPopUp()"><i class="fa fa-times"></i></button>
  </div>
</div>
