.home-container {
  width: 100%;
  padding-bottom: 20px;
}


.slick-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 0;
  max-height: 100vh;
}

.slick-prev {
  left: 10px;
  z-index: 1;
}
.slick-next {
  right: 10px;
  z-index: 1;
}
.second-banners {
  display: flex;
  justify-content: center;

  padding: 30px 0;
}
@media (max-width: 560px) {
  .second-banners {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 55px;
  }
  .container-second-banner {
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 90%;
  }
}
.container-second-banner {
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: 50%;
}

.container-second-banner img {
  width: 100%;
}
.product-slides {
  margin: 0 10%;
}
.title-container {
  background-color: black;
  height: 20px;
  text-align: center;
  margin: 30px 0;
  width: 100%;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.title-container h3 {
  font-size: small;
  text-transform: uppercase;
}
.slideProduct {
  margin: 0 10px;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.ver-todo {
  background-color: #feee00;
  color: black;
  font-family: "DIN Next", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  white-space: normal;
  font-size: 13px;
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
}

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;

  color: white;
  font-size: 24px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  transition: background-color 0.3s ease;
  z-index: 999;
}
.fi-brands-whatsapp{
  z-index: 1;
}

.whatsapp-icon:hover {
  opacity: 0.9;
}



.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #59a8d6;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
.popup-image{
  padding: 0;
  width: 100%;
  height: 100%;
}
.close-button {
  position: absolute;
  top: 3px;
  right: -1px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

