.app-container {
  width: 100%;
}



mat-sidenav-content {
  height: 100%;
  z-index: 4;

}
mat-sidenav-container,
mat-sidenav{
  z-index: 2;
}
main{
  z-index: -1;
}
app-sidebar {
  z-index: 11000;
}
mat-sidenav {
  width: 300px;
}
