.example-card {
  max-width: 400px;
  height: 80%;
  margin: 10px auto;
}

.example-header-image {
  background-size: cover;
}

.favorite {
  color: rgb(20, 20, 20);
  background: none;
  border-radius: 100%;
  margin: 0px;
  opacity: 0.9;
  border: none;
  line-height: normal;
  height: 40px;
  display: block;
  padding: 0px 20px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  outline: none;
  position: relative;
  cursor: pointer;
  font-size: 20px !important;
  width: 40px !important;
  padding: 0.125em 0 0 !important;
  position: absolute;
  right: 5px;
  top: 50px;

  border-radius: 100%;
}

.favorite:hover {
  background-color: gainsboro;
  color: rgb(232, 72, 72);
}

.discount {
  text-align: center;
  position: absolute;
  right: 7px;
  font-size: 18px;
  background-color: red;
  color: white;
  border-radius: 7px;
  padding: 5px 8px;

}

.product-description {
  font-size: medium;
  font-weight: 600;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card-bottom {
  justify-content: space-around;
}
.prices {
  display: flex;
  justify-content: space-between;
}
.prices p {
  font-weight: 600;
}
.oldprice {
  margin-right: 10px;
  text-decoration: line-through;
}

.newprice {
  color: red;
}
